<h1> WELCOME TO ANOTHER IRONHACK LAB </h2>

<img src="https://o.aolcdn.com/images/dar/5845cadfecd996e0372f/ec24a469e0d652803096e74982efe7151c2ca692/aHR0cDovL28uYW9sY2RuLmNvbS9oc3Mvc3RvcmFnZS9taWRhcy9jN2VhNGQyYjM4YWQzMGU2MmE2NzllZDVmNGQ2ZGZkOS8yMDAxMjk4ODYvTXJHcnVtYmxlY2F0LTEuanBlZw==" alt="CatCoding">
<br>
<button><a href="/">GoBack</a></button>
<br>
<br>
<button><a href="/private">SuperPrivatePage</a></button>